body {
    background: #1f1f1f
}

.card-login{
    width:18 rem;
    padding:70px;
}

.title-login{
    color: orangered;
}

.btn-submit{
    background: linear-gradient(to right, #e65c00, #f9d423);
    border: none;
    font-size: 20px;
    padding: 15px;
}